$backgroundcolor: #F4F6FF;
$primary-color: #333;
$black: #000;
$white: #fff;
$red: #f94051;
$lightOrange: #FF9611;
$deepBlue: #1A237E;
$lightBlue: #3D5AFE;
$lightGreen: #00BFA5;
$pink: #FF4081;
$grey: #666;
$lightGray: #ccc;
$lightYellow: #FFEE58;
$deepYellow: #FFC10D;

$primaryFont: 'Roboto Slab', serif;
$secondaryFont: 'Poppins', sans-serif;
$input-border: #dcdcdc;
$placeholder-color: rgb(209, 208, 208);