.pageBannerSec{
    position: relative;
    &:before{
        content: '';
        position: absolute;
        background: url(../images/inner-banner.jpg) no-repeat center / cover;
        clip-path: polygon(0% 0%, 0% 75%, 50% 100%, 100% 75%, 100% 0%);
        width: 100%;
        height: 100%;
        z-index: 5;
    }
    .BannerHeadWrap{
        position: relative;
        z-index: 5;
        padding: 40px 0;
        ul{
            li{
                display: inline-block;
                font-size: 12px;
                text-transform: uppercase;
                font-weight: 500;
                letter-spacing: 0.05rem;
                a{
                    color: $lightGreen;
                    &:hover{
                        color: $red;
                    }
                }
            }
            li:not(:first-child){
                position: relative;
                &:before{
                    color: #1f2732;
                    padding: 0 18px 0 16px;
                    content: "|";
                    font-size: 15px;
                    position: relative;
                    top: 0px;
                }
            }
        }
    }
    h1{
        font-weight: 400;
        font-size: 2.6rem;
        color: $deepBlue;
    }
}